body {
  height: 100vh;
  width: 100%;
  background-color: #ddaea8;
  font-family: 'Spartan', sans-serif;
}

section {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectInicio_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 50px;
  color: #105a49;
}

.sectInicio_parrafoTitulo {
  padding: 20px;
  background-color: white;
  color: #b9a23e;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  border-radius: 5px;
}

.sectInicio_boton {
  background-color: #105a49;
  border-radius: 15px;
  padding: 5px;
}

.sectInicio_boton .sectInicio_botonLink {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.sectInicio_boton:hover {
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectInicio_boton:hover .sectInicio_botonLink:hover {
  color: #105a49;
}

#carouselExampleSlidesOnly {
  display: none;
}

.controlMedias_inicio {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  background-color: #105a49;
  position: fixed;
  bottom: 0;
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #b9a23e;
  border-radius: 15px;
  padding: 5px;
}

footer .susNews {
  height: 100%;
  width: 50%;
}

footer .susNews legend {
  font-size: 15px;
  font-weight: 500;
  color: #b9a23e;
}

footer .susNews .botonSuscribe {
  background-color: #ddaea8;
  color: #105a49;
}

footer .susNews #emailsus {
  width: 100%;
}

footer .copyr {
  height: 100%;
  width: 50%;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15px;
}

.botonHome {
  height: 50%;
  width: 30%;
  background: none;
}

.botonHome .botonHome_img {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 100%;
  width: 100%;
  border: solid white;
  border-radius: 15px;
}

.navbar .container-fluid {
  height: 100%;
  width: 100%;
  background-color: #105a49;
  border-radius: 15px;
  padding: 5px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

#navbarDropdownMenuLink {
  color: white;
}

.dropdown-menu {
  background-color: #ddaea8;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dropdown-menu .dropdown-item {
  color: #105a49;
}

.dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #105a49;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-flotante {
  display: none;
}

.sectRegisyContacto {
  height: 100%;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.sectRegisyContacto .formRegistro {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background: #105a49;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 90, 73, 0.88)), color-stop(98%, #ddaea8));
  background: linear-gradient(180deg, rgba(16, 90, 73, 0.88) 0%, #ddaea8 98%);
  border-radius: 15px;
  border: solid #b9a23e;
}

.sectRegisyContacto .formRegistro .ryc {
  height: 100%;
  width: 100%;
}

.sectRegisyContacto .formRegistro .ryc .registroCliente {
  height: 100%;
  width: 100%;
}

.sectRegisyContacto .formRegistro .ryc .registroCliente .textoForm {
  font-weight: 400;
  font-size: 10px;
  color: black;
}

.sectRegisyContacto .formContacto {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  border-radius: 15px;
  border: solid #b9a23e;
  background: #fffdfd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffdfd), color-stop(85%, #115a49));
  background: linear-gradient(180deg, #fffdfd 0%, #115a49 85%);
}

.sectRegisyContacto .formContacto .ryc {
  height: 100%;
  width: 100%;
}

.sectRegisyContacto .formContacto .ryc .contactoCliente {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectRegisyContacto .formContacto .ryc .contactoCliente .textoForm {
  font-weight: 400;
  font-size: 10px;
  color: black;
}

.sectDevyVar {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectDevyVar .prodGeneral {
  height: 80%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.sectDevyVar .prodGeneral .botonesDVP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sectDevyVar .prodGeneral .botonesDVP .btn.btn-primary {
  border-radius: 15px;
  border: solid #b9a23e;
  color: #105a49;
}

.sectDevyVar .prodGeneral .botonesDVP .btn.btn-primary:hover {
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectDevyVar .prodGeneral .card {
  height: 15%;
  width: 100%;
}

.tituloProducto {
  color: #105a49;
  font-size: 30px;
  font-weight: 500;
}

.tituloPyV {
  font-weight: 600;
  font-size: 25px;
  color: #105a49;
  background-color: white;
  border: solid #b9a23e;
  text-align: center;
}

.card-body {
  height: 100%;
  width: 100%;
}

.card-body .card-title {
  color: #b9a23e;
  font-weight: 500;
  font-size: 30px;
}

.card-body .card-text {
  color: #105a49;
}

.btn.btn-primary {
  background-color: #ddaea8;
  color: #105a49;
  border: white;
  font-size: 2rem;
}

.btn.btn-primary:hover {
  background-color: #b9a23e;
  color: #105a49;
}

.sectIndoor {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sectIndoor .textoIndoor {
  display: none;
}

.sectIndoor .botonIndoor {
  background-color: white;
  color: #105a49;
  border-radius: 15px;
}

.sectIndoor .botonIndoor:hover {
  background-color: #105a49;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.603);
}

.carousel-caption h5 {
  color: white;
}

.carousel-caption p {
  color: white;
}

.sectSusyFer {
  height: 60%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

.sectSusyFer .textoSus {
  display: none;
}

.sectSusyFer .prodSusyFer {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectSusyFer .susyfertWeb {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sectInicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectInicio .controlMedias_inicio {
    height: 100%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sectInicio .controlMedias_inicio .sectInicio_titulo {
    width: 100%;
  }
  .sectInicio .controlMedias_inicio .sectInicio_parrafoTitulo {
    width: 100%;
    text-align: center;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton {
    background-color: #105a49;
    border-radius: 15px;
    padding: 5px;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton .sectInicio_botonLink {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton:hover {
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton:hover .sectInicio_botonLink:hover {
    color: #105a49;
  }
  .sectInicio .carrusel {
    height: 50%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectInicio .carrusel #carouselExampleSlidesOnly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectInicio .carrusel .carousel-inner {
    height: 85%;
    width: 85%;
    border-radius: 15px;
  }
  footer {
    position: fixed;
  }
  footer .susNews {
    height: 100%;
    width: 30%;
  }
  footer .susNews legend {
    font-size: 15px;
    font-weight: 500;
    color: #b9a23e;
  }
  footer .susNews .botonSuscribe {
    background-color: #ddaea8;
    color: #105a49;
  }
  footer .susNews #emailsus {
    width: 100%;
  }
  footer .copyr {
    width: 30%;
  }
  .btn-flotante {
    display: block;
    height: 10%;
    width: 10%;
    position: fixed;
    -webkit-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 50%;
  }
  .btn-flotante:hover {
    background-color: #b9a23e;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
    border-radius: 50%;
  }
  .btn-flotante_img {
    height: 90%;
    width: 90%;
    margin: 5%;
  }
  .sectRegisyContacto {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: unset;
  }
  .sectRegisyContacto .formContacto {
    height: 70%;
    width: 40%;
  }
  .sectRegisyContacto .formContacto .ryc {
    height: 100%;
    width: 100%;
  }
  .sectRegisyContacto .formContacto .ryc .contactoCliente {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectRegisyContacto .formContacto .ryc .contactoCliente .textoForm {
    font-size: 20px;
  }
  .sectRegisyContacto .formRegistro {
    height: 70%;
    width: 40%;
  }
  .sectRegisyContacto .formRegistro .ryc {
    height: 100%;
    width: 100%;
  }
  .sectRegisyContacto .formRegistro .ryc .registroCliente {
    height: 100%;
    width: 100%;
  }
  .sectRegisyContacto .formRegistro .ryc .registroCliente .textoForm {
    font-size: 20px;
  }
  .sectDevyVar {
    height: 70%;
    width: 100%;
  }
  .sectDevyVar .prodGeneral {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectDevyVar .prodGeneral .botonesDVP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectDevyVar .prodGeneral .card {
    height: 15%;
    width: 100%;
  }
  .sectIndoor {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: unset;
  }
  .sectSusyFer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .sectSusyFer .prodSusyFer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .sectInicio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sectInicio .controlMedias_inicio {
    height: 100%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectInicio .controlMedias_inicio .sectInicio_titulo {
    width: 100%;
  }
  .sectInicio .controlMedias_inicio .sectInicio_parrafoTitulo {
    width: 100%;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton {
    background-color: #105a49;
    border-radius: 15px;
    padding: 5px;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton .sectInicio_botonLink {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton:hover {
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .sectInicio .controlMedias_inicio .sectInicio_boton:hover .sectInicio_botonLink:hover {
    color: #105a49;
  }
  .sectInicio .carrusel {
    height: 70%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectInicio .carrusel #carouselExampleSlidesOnly {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectInicio .carrusel .carousel-inner {
    height: 100%;
    width: 80%;
    border-radius: 15px;
  }
  footer {
    position: fixed;
  }
  footer .susNews {
    height: 100%;
    width: 30%;
  }
  footer .susNews legend {
    font-size: 15px;
    font-weight: 500;
    color: #b9a23e;
  }
  footer .susNews .botonSuscribe {
    background-color: #ddaea8;
    color: #105a49;
  }
  footer .susNews #emailsus {
    width: 100%;
  }
  footer .copyr {
    width: 30%;
  }
  .btn-flotante {
    display: block;
    height: 10%;
    width: 10%;
    position: fixed;
    -webkit-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 50%;
  }
  .btn-flotante:hover {
    background-color: #b9a23e;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
    border-radius: 50%;
  }
  .btn-flotante_img {
    height: 90%;
    width: 90%;
    margin: 5%;
  }
  .sectRegisyContacto {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: unset;
  }
  .sectRegisyContacto .formContacto {
    height: 100%;
    width: 30%;
  }
  .sectRegisyContacto .formContacto .ryc {
    height: 100%;
    width: 100%;
  }
  .sectRegisyContacto .formContacto .ryc .contactoCliente {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectRegisyContacto .formContacto .ryc .contactoCliente .textoForm {
    font-size: 20px;
  }
  .sectRegisyContacto .formRegistro {
    height: 100%;
    width: 30%;
  }
  .sectRegisyContacto .formRegistro .ryc {
    height: 100%;
    width: 100%;
  }
  .sectRegisyContacto .formRegistro .ryc .registroCliente {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .sectRegisyContacto .formRegistro .ryc .registroCliente .textoForm {
    font-size: 20px;
  }
  .sectDevyVar {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sectDevyVar .prodGeneral {
    height: 100%;
    width: 100%;
  }
  .sectDevyVar .prodGeneral .botonesDVP {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sectDevyVar .prodGeneral .botonesDVP .btn.btn-primary {
    background-color: #ddaea8;
    color: #105a49;
  }
  .sectDevyVar .prodGeneral .tituloProducto {
    width: 100%;
    text-align: center;
  }
  .sectDevyVar .prodGeneral .card {
    height: 15%;
    width: 100%;
  }
  .sectIndoor {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sectIndoor h2 {
    display: none;
  }
  .sectIndoor .textoIndoor {
    border: solid #b9a23e;
    padding: 5px;
    width: 20%;
    display: block;
  }
  .sectIndoor .textoIndoor h3 {
    color: #105a49;
    font-weight: 600;
  }
  .sectIndoor .textoIndoor p {
    background-color: #105a49;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  .sectIndoor .carousel {
    height: 100%;
    width: 30%;
  }
  .sectIndoor .botonIndoor {
    height: 20%;
    width: 20%;
    border: solid #b9a23e;
  }
  .sectSusyFer {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: unset;
  }
  .sectSusyFer .textoSus {
    height: 80%;
    width: 40%;
    padding: 10px;
    display: block;
    border: solid #b9a23e;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  .sectSusyFer .textoSus p {
    color: #105a49;
    font-weight: 600;
    font-size: 26px;
  }
  .sectSusyFer .prodSusyFer {
    display: none;
  }
  .sectSusyFer .susyfertWeb {
    display: block;
    margin-bottom: 5%;
    height: 80%;
    width: 40%;
    overflow: scroll;
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=style.css.map */